    <div class="footer">
        <div class="container">
            <p><span class="glyphicon glyphicon-heart"></span> Franz 2015 </p>

            
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto accusantium magni consequuntur quibusdam velit voluptatibus. Optio reprehenderit veritatis, dignissimos nam similique, sunt quia, amet ab et odio possimus quo. Eos!</span>
            <span>Libero numquam, quae aliquam animi voluptas dicta eveniet necessitatibus sunt magnam accusamus eos architecto earum ratione, reiciendis quaerat illo nemo minus sequi blanditiis quasi ullam amet asperiores! Sed, sapiente laborum!</span>
            <span>Dolorum, sunt! Debitis fugiat expedita impedit labore modi eveniet, inventore odit dignissimos voluptate tempore? Dolor perspiciatis, omnis aperiam magnam. Delectus praesentium ducimus magni eos, sed suscipit, fugit quos omnis accusamus.</span></p>
        </div>

    </div>
