<div class="container" ng-controller="productController">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 box1">
            <p><strong>In Stock: </strong><span class="badge"> {{products.length}} </span> </p>
            <div class="form-group">
                <label for="exampleInputEmail1">search</label>
                <input type="search" class="form-control" id="someid" placeholder="search your booze here...." ng-model="productName">

            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 box2">

            <p>Filter by <strong> Category:</strong>
            </p>
            <ul class="filterByCategory">
                <li ng-repeat="catObject in categories">
                    <input type="checkbox" ng-click="categoryChange(catObject.category)"> {{catObject.category}}
                </li>

            </ul>
        </div>

        <div ng-controller="cartController" class="col-lg-7 col-md-7 col-sm-12 col-xs-12 box3">
            <h4>Cart</h4>
            <table class="table xtable-bordered table-hover table-striped">
                <tr class="info">
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Confirm</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="cartProduct in cartProducts">
                    <td> {{cartProduct.product.name }} </td>
                    <td> {{cartProduct.quantity }} </td>
                    <td> {{ cartProduct.total }}</td>
                    <td>
                        
                    </td>
                    <td>
                        <form>
                             
                            <button type="button" ng-click="deleteCartProduct(cartProduct)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Total Sum</td>
                    <td></td>

                    <td>{{ totalsum }}</td>
                    <td><a class="btn btn-success" href="#/checkout">Payment</a></td>
                    
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- end row first part   -->
    <div class="row">

        <div ng-show="error" class="alert alert-warning" role="alert">{{ error }}</div>

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 " ng-repeat="product in products | filter: productName | filter:categoryFilter ">
                    <div class="thumbnail xxx">
                        <a ng-href="#/product/{{product.id}}"> <!-- to get the page -->
                            <img class="img-responsive " ng-src="{{ product.img }}" alt="{{product.name}}">
                        </a> <!-- end to get the page -->
                        <div class="caption">
                            <h4>{{product.name}}</h4>
                            <p>Price: {{ product.price }} .DKK </p>

                            <form ng-submit="sendtoChart(product)">
                                <div class="form-group">
                                    <input class="form-control" type="number" ng-model="quantity" />
                                    <button type="submit" class="btn btn-success addtocart-btn">Add to Cart</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <!-- end row second part   -->
</div>
<!-- end container  -->

